# Dependencies and AdonisJS build
node_modules
build
# Secrets
.env
.env.local
.env.production.local
.env.development.local
.editorconfig

# Frontend assets compiled code
public/assets

# Build tools specific
npm-debug.log
yarn-error.log

# Editors specific
.fleet
.idea
.vscode

# Platform specific
.DS_Store

#docker
docker/certs
.pnpm-store/v3
tmp/db.sqlite3

## Panda
styled-system
